<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>쇼핑몰 광고</title>
<script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
<link rel="stylesheet" href="/src/main/resources/static/FE/CSS/event.css">
<link rel="stylesheet" href="/src/main/resources/static/FE/CSS/form.css">
</head>

    <body class="bg-white text-gray-700">
        <!-- Header -->
        <header class="bg-black py-7">
          <div class="container mx-auto flex justify-between items-center">
            <a href="../main.html" class="text-pink-500 hover:text-pink-600 font-bold" id="main-link">IDLE</a>
            <nav class="flex space-x-4">
              <a href="../FE/best.html" class="text-pink-500 hover:text-pink-800" id="best-link">BEST</a>
              <a href="../FE/new.html" class="text-pink-500 hover:text-pink-800" id="new-link">NEW</a>
              <a href="../FE/sale.html" class="text-pink-500 hover:text-pink-800" id="sale-link">SALE</a>
              <a href="../FE/event.html" class="text-pink-500 hover:text-pink-800" id="event-link">EVENT</a>
              <a href="../FE/join.html" class="text-blue-500 hover:text-blue-800" id="memebr-link">JOIN</a>
              <div class="mypage-dropdown">
                <a href="#" class="text-blue-500 hover:text-blue-800">MYPAGE</a>
                <div class="mypage-dropdown-content">
                  <a href="../FE/login.html">Login</a>
                  <a href="../FE/cart.html">Cart</a>
                  <a href="../FE/order.html">Order</a>
                </div>
              </div>
            </nav>
          </div>
        </header>

<div class="slideshow-container">
  <div class="mySlides fade">
    <img src="/src/main/resources/static/FE/image/event1.jpg" style="width:100%">
  </div>
  
  <div class="mySlides fade">
    <img src="/src/main/resources/static/FE/image/event2.jpg" style="width:100%">
  </div>
  
  <div class="mySlides fade">
    <img src="/src/main/resources/static/FE/image/event3.jpg" style="width:100%">
  </div>
</div>
<script src="/src/main/resources/static/FE/JS/event.js"></script>
</body>
</html>
