<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./CSS/form.css">
    <link rel="stylesheet" href="./CSS/Banner.css">
    <style>
        .custom-video {
            width: 100%; /* 원하는 너비 설정 */
            height: 670px; /* 높이를 자동으로 조정하여 비율 유지 */
        }
    </style>
</head>
<body>
    <body class="bg-red-400 text-gray-700">
        <!-- Header -->
        <header class="bg-black py-7">
          <div class="container mx-auto flex justify-between items-center">
            <a href="../main.html" class="text-pink-500 hover:text-pink-600 font-bold" id="main-link">IDLE</a>
            <nav class="flex space-x-4">
              <a href="best.html" class="text-pink-500 hover:text-pink-800" id="best-link">BEST</a>
              <a href="new.html" class="text-pink-500 hover:text-pink-800" id="new-link">NEW</a>
              <a href="sale.html" class="text-pink-500 hover:text-pink-800" id="sale-link">SALE</a>
              <a href="event.html" class="text-pink-500 hover:text-pink-800" id="event-link">EVENT</a>
              <a href="join.html" class="text-blue-500 hover:text-blue-800" id="memebr-link">JOIN</a>
              <div class="mypage-dropdown">
                <a href="#" class="text-blue-500 hover:text-blue-800">MYPAGE</a>
                <div class="mypage-dropdown-content">
                  <a href="login.html">Login</a>
                  <a href="cart.html">Cart</a>
                  <a href="order.html">Order</a>
                </div>
              </div>
            </nav>
          </div>
        </header>
    
    <main class="my-2">
        <div class="relative">
            <video controls autoplay loop class="custom-video">
                <source src="video/sale.mp4" type="video/mp4">
                </video>
          </div>
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="flex flex-wrap -m-1">
                <script src="./JS/product.js"></script> 
            </div>
        </div>
    </main>
    <footer class="bg-black py-4 mt-8">
        <div class="container mx-auto text-center text-pink-500">
            <div class="flex flex-col items-center">
                <div class="sm:w-2/3 text-center py-6">
                    <p class="text-sm text-pink-500 font-bold">
                        © 2024 IDLE Fashion Store
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script>
          function goToProductInfo(productId) {
        window.location.href = `product_info.html?id=${productId}`;
    }
    </script>
</body>
</html>