<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mx-auto flex justify-between items-center">
    <h1 class="text-xl font-bold"><a href="/manage">Idle 관리자 페이지</a></h1>
    <div class="relative">
        <input type="search" placeholder="Search" class="pl-10 pr-4 py-2 rounded-full">
    </div>
    <nav>
        <ul class="flex space-x-4">
            <li><a href="/manage" class="hover:text-blue-300">Home</a></li>
            <li><a href="#" class="hover:text-blue-300">Men</a></li>
            <li><a href="#" class="hover:text-blue-300">Women</a></li>
            <li><a href="#" class="hover:text-blue-300">Kids</a></li>
            <li><a href="/manage/newProduct" class="hover:text-blue-300">등록하기</a></li>
            <li class="login-btn"><a href="/login" class="hover:text-blue-300">Login</a></li>
        </ul>
    </nav>
</div>
</body>
</html>